@media (min-width: 320px) and (max-width: 767px){

.container{
    width: 100vh;
    height: 140vh;
    margin: auto;
    border: solid black;
    display: flex;
    flex-direction: column;

    /* flex-direction: ; */
}

.row{
    border: black solid;
    width: 100%;
align-self: center;
text-align: center;
border: solid black;
border-width: thin;
background-color: lightgray;


}


.efgh{
    height: 102vh;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap-reverse; */
    flex-flow: column wrap;
    align-items:stretch;

    background-color: lightgray;


}
.devided-row{
    width: 50vh;
    height: 50vh;
    
    text-align: center;
    border: solid black;
    border-width: thin;

   
}
.i{
    width: 100wh;
    height: 150px;
    border: solid black;
    border-width: thin;

}
}
/* -------------------------------------------------------- */

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
@media only screen and  (min-width: 768px)  {
    .container{
        width: 960px;
        height: 768px;
        /* background-color: saddlebrown; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
#header{
    order: 0;
    
    width: 960px ;
    height: 100px;
    text-align: center;

    background-color: chocolate;
}

#b{
    height: 600px;
    width: 20%;
    background-color: cornflowerblue;
    text-align: center;

}
#c{
    order: 0;
    width: 380px;
    height: 200px;
    background-color: red;
}
#d{
    order: 0;

    width: 380px;
    height: 200px;
    background-color: peru;
}



/* .efgh{
    order: 0;

    width: 760px;
    display: flex;
    flex-direction: row;
    border: yellow solid;
    background-color: yellow;
} */

#e{
    order: 0;
    width: 190px;
    height: 250px;
    background-color: navy;
}

#f{
    order: 2;

    width: 190px;
    height: 250px;
    background-color: saddlebrown;

}

#g{
    order: 3;
    width: 190px;
    height: 250px;
    background-color: olive;
}

#h{
    order: 3;
    width: 190px;
    height: 250px;
    background-color: violet;

}

.i{
    width: 760px;
    height: 150px
    ;
    border: solid black;

}
    }
