@media (min-width: 480px) and (max-width: 767px) {
  body {
    margin: auto;
  }
  #header {
    display: block;
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .row {
    display: block;
    background-color: lightgray;
    border: solid black;

    border-width: thin;
    text-align: center;

    height: 150px;
    width: 100%;
  }

  .efgh {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  .devided-row {
    float: left;
    text-align: center;
    border: solid black;
    border-width: thin;
    background-color: lightgray;

    width: 50%;
    height: 250px;
  }
}

@media only screen and (min-width: 768px) {
   
.container{
    background-color: lightgray;


    width: 960px;
}
    #header{

        width: 960px;
        height: 100px;
        border: solid black;
    border-width: thin;

    }
    .row{
        display: block;
        border: solid black;
        border-width: thin;
    
        text-align: center;
        height: 100px;
        width: 960px;
    }
    #b{
        float: left;
        border: solid black;
    border-width: thin;

        width: 200px;
        height: 600px;
    }
    .cd
    {
        float: left;
        border: solid black;
        border-width: thin;
    
        width: 380px;
        height: 200px;
    }
   
    
    .efgh{
        width: 760px;
    }
    
    .devided-row{
        float: left;
        text-align: center;
        border: solid black;
        border-width: thin;
    
        width: 190px;
        height: 250px;
       
    }
    .i{
        width: 760px;
        height: 150px;
        border: solid black;
        border-width: thin;
    
    }
}